<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <title>Listado de Emisoras</title>
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
    />
    <style>
      .card {
        background-color: #dc3545;
        border-color: #dc3545;
      }

      .card-title {
        color: #ffffff;
      }

      .btn-primary {
        background-color: #dc3545;
        border-color: #dc3545;
      }

      .btn-primary:hover {
        background-color: #c82333;
        border-color: #bd2130;
      }

      .btn-secondary {
        background-color: #ffffff;
        color: #dc3545;
        border-color: #ffffff;
      }

      .btn-secondary:hover {
        background-color: #f8f9fa;
        color: #dc3545;
        border-color: #f8f9fa;
      }
    </style>
  </head>
  <body class="bg-light">
    <div class="container mt-5">
      <h2 class="text-center mb-4">Listado de Emisoras</h2>
      <ul id="listaEmisoras" class="list-group">
        <!-- Aquí se cargarán las emisoras -->
      </ul>
    </div>

    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script>
      // Función para reproducir audio
      function playAudio(audioPath) {
        var audio = new Audio(audioPath);
        audio.play();
      }
      $(document).ready(function () {
        // Función para cargar y mostrar emisoras
        function cargarEmisoras() {
          $.ajax({
            url: "/api/buscaremisoras", // Cambiado a api/buscaremisoras
            type: "GET",
            success: function (emisoras) {
              var listaEmisoras = $("#listaEmisoras");
              listaEmisoras.empty();

              emisoras.forEach(function (emisora) {
                console.log("Path del PDF:", emisora.pdf); // Muestra el path del PDF en la consola
                console.log("Path del Audio:", emisora.audio); // Muestra el path del Audio en la consola

                listaEmisoras.append(`
              <li class="list-group-item d-flex justify-content-between align-items-center">
                <div>
                  <strong>${emisora.nombre}</strong>
                  <p>Fecha de Creación: ${emisora.fechaCreacion}</p>
                </div>
                <div>
                  <a href="${emisora.pdf}" class="btn btn-secondary btn-sm" target="_blank">Descargar PDF</a>
                  <a href="${emisora.audio}" class="btn btn-primary btn-sm" download>Descargar Audio</a>
                  <button class="btn btn-primary btn-sm" onclick="playAudio('${emisora.audio}')">Reproducir Audio</button>
                </div>
              </li>
            `);
              });
            },
            error: function (error) {
              console.error("Error al cargar emisoras:", error);
            },
          });
        }

        // Llamada a la función de cargarEmisoras
        cargarEmisoras();
      });
    </script>
  </body>
</html>
