<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <title>Crear Emisora</title>
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
    />
  </head>
  <body class="bg-light">
    <div class="container mt-5">
      <div class="row justify-content-center">
        <div class="col-md-6">
          <div class="card bg-danger text-white">
            <div class="card-body">
              <h2 class="card-title text-center mb-4">Crear Emisora</h2>
              <form id="crearEmisoraForm" enctype="multipart/form-data">
                <div class="form-group">
                  <label for="nombre">Nombre</label>
                  <input
                    type="text"
                    class="form-control"
                    id="nombre"
                    name="nombre"
                    required
                  />
                </div>
                <div class="form-group">
                  <label for="nit">NIT</label>
                  <input
                    type="number"
                    class="form-control"
                    id="nit"
                    name="nit"
                    required
                  />
                </div>
                <div class="form-group">
                  <label for="pdf">Archivo PDF</label>
                  <input
                    type="file"
                    class="form-control-file"
                    id="pdf"
                    name="pdf"
                    accept=".pdf"
                    required
                  />
                </div>
                <div class="form-group">
                  <label for="audio">Archivo de Audio</label>
                  <input
                    type="file"
                    class="form-control-file"
                    id="audio"
                    name="audio"
                    accept=".mp3"
                    required
                  />
                </div>
                <button type="submit" class="btn btn-light btn-block">
                  Crear
                </button>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>

    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

    <script>
      $(document).ready(function () {
        $("#crearEmisoraForm").submit(function (e) {
          e.preventDefault();
          console.log("boton crear");
          var formData = new FormData(this);

          $.ajax({
            url: "api/crearemisora",
            type: "POST",
            data: formData,
            contentType: false,
            processData: false,
            success: function (response) {
              console.log("Emisora creada con éxito");
              // Aquí puedes hacer algo con la respuesta del servidor si lo necesitas
            },
            error: function (error) {
              console.error("Error al crear la emisora:", error);
            },
          });
        });
      });
    </script>
  </body>
</html>
